body {
    background-color: #f8f9fa;
    overflow: hidden;
}


/* test */

.subtitle_main {
    background-color: #f8f9fa;
}

.search,
.search input:focus,
.search:focus-within {
    background-color: #e5e5e5;
    border: 1px #e5e5e5 solid;
}

.mobile_logo {
    height: 56px;
}

.logo_img {
    height: 100%;
}

.main {
    width: calc(100vw - 190px);
    background-color: #f8f9fa;
    height: calc(100vh - 72px);
    overflow-y: auto
}

#side_bar {
    width: 190px;
    color: white;
    background-color: #051e34;
    height: calc(100vh - 72px);
    background-image: url(../img/sidebar-bg.png);
}

.side_btn:hover {
    background-color: rgba(255, 255, 255, 0.627);
}

.add {
    width: 30px;
    height: 30px;
}

.bg_pill {
    background-color: #165bba;
}

.table_img {
    width: 30px;
}



@media screen and (max-width: 991px) {

    .main {
        width: calc(100vw - 70px);
    }
}